<!DOCTYPE html>
<html>
<head>
    <title>AI Question Paper Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h1>AI Question Paper Generator</h1>

    <div class="section">
        <h3>📄 Generate from PDF</h3>
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" required>
            <button type="submit" class="btn">Generate from PDF</button>
        </form>
    </div>

    <div class="section">
       <h3>🔍 Generate from Topic</h3>
<form action="/generate-topic" method="POST">

    <input type="text" name="topic"
           placeholder="Enter Topic (e.g., Cloud Computing Unit 1)"
           required>

    <div class="difficulty-inputs">
        <label>Easy:</label>
        <input type="number" name="easy" min="0" value="3">

        <label>Medium:</label>
        <input type="number" name="medium" min="0" value="2">

        <label>Hard:</label>
        <input type="number" name="hard" min="0" value="1">
    </div>

    <button type="submit" class="btn">
        Generate Question Paper
    </button>

</form>
    </div>

</div>

</body>
</html>