<!DOCTYPE html>
<html>

<head>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>AI Question Paper Generator</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="background"></div>

<div class="card">

<h1>🤖 AI Question Paper Generator</h1>

<p class="subtitle">
Generate exam-ready questions instantly using AI
</p>

<form action="/generate-topic" method="POST">

<input type="text" name="topic" placeholder="Enter Topic (Example: Cloud Computing)" required>

<div class="marks-grid">

<div class="input-group">
<label>2 Marks</label>
<input type="number" name="two_marks" value="5">
</div>

<div class="input-group">
<label>5 Marks</label>
<input type="number" name="five_marks" value="3">
</div>

<div class="input-group">
<label>10 Marks</label>
<input type="number" name="ten_marks" value="2">
</div>

</div>

<button type="submit">Generate Question Paper</button>

</form>

</div>

</body>

</html>