<!DOCTYPE html>
<html>
<head>
<title>Question Paper Generator</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

<h1>AI Question Paper Generator</h1>

<form action="/generate" method="POST">

<input type="text" name="topic" placeholder="Enter Topic" required>

<div class="marks">

<label>2 Marks</label>
<input type="number" name="two" value="5">

<label>5 Marks</label>
<input type="number" name="five" value="3">

<label>10 Marks</label>
<input type="number" name="ten" value="2">

</div>

<button type="submit">Generate Question Paper</button>

</form>

</div>

</body>
</html>